{% extends "base.html" %}

{% block body %}
	<div id="summary">
		<h4>Implementation Summary</h4>
		<p>{{ p.summary }}</p>
	</div>
	<div id="tasks">
		<h4>Implementation Tasks</h4>
		<table class="bordered">
			<thead>
				<th width="127px">Task</td>
				<th>Member Name</td>
				<th>MEMBER Promotion List</td>
				<th>MO Release</td>
				<th>Prod Release</td>
			</thead>
			<tr>
				<td width="127px">File promotions/gdg builds</td>
				<td>{{ p.tasks.file.name }}</td>
				<td>{{ p.tasks.file.promotion_list }}</td>
				<td>{{ p.tasks.file.mo }}</td>
				<td>{{ p.tasks.file.prod }}</td>
			</tr>
			<tr>
				<td width="127px">Module promotions</td>
				<td>{{ p.tasks.module.name }}</td>
				<td>{{ p.tasks.module.promotion_list }}</td>
				<td>{{ p.tasks.module.mo }}</td>
				<td>{{ p.tasks.module.prod }}</td>
			</tr>
			<tr>
				<td width="127px">Autosys updates</td>
				<td>{{ p.tasks.autosys.name }}</td>
				<td>{{ p.tasks.autosys.promotion_list }}</td>
				<td>{{ p.tasks.autosys.mo }}</td>
				<td>{{ p.tasks.autosys.prod }}</td>
			</tr>
			<tr>
				<td width="127px">Components to be deleted</td>
				<td>{{ p.tasks.deleted.name }}</td>
				<td>{{ p.tasks.deleted.promotion_list }}</td>
				<td>{{ p.tasks.deleted.mo }}</td>
				<td>{{ p.tasks.deleted.prod }}</td>
			</tr>
		</table>
	</div>
	<div id="updates">
		<h4>Database Updates</h4>
		<table class="bordered" width="683">
			<thead>
				<th>Object</td>
				<th width="200px">Name</td>
				<th width="400px">Current Location</td>
			</thead>
			<tr>
				<td>Table Modification</td>
				<td>{{ p.database.table.name }}</td>
				<td>{{ p.database.table.location }}</td>
			</tr>
			<tr>
				<td>XML/XSD</td>
				<td>{{ p.database.xml.name }}</td>
				<td>{{ p.database.xml.location }}</td>
			</tr>
			<tr>
				<td>Database Updates</td>
				<td>{{ p.database.updates.name }}</td>
				<td>{{ p.database.updates.location }}</td>
			</tr>
		</table>
	</div>
{% endblock %}
