<html>
<head>
	<link rel="stylesheet" type="text/css" href="main.css">
	<title>6368 - Implementation Plan</title>
</head>
<body>
<div id="implement">
	<div id="header">
		<p>IMPLEMENTATION PLAN</p>
		<p>For</p>
		<p>Ohio MITS</p>
		<p>Change Order # 6368</p>
	</div>
	<div id="revisions">
		<table id="rev_table">
			<thead>
				<th>Last Update</td>
				<th>Author</td>
				<th>Change Description</td>
			</thead>
			<tr>
				<td width="138">12/31/2299</td>
				<td width="172">Adam Lukens</td>
				<td width="284">Initial Creation</td>
			</tr>
		</table>
	</div>
	<div id="summary">
		<h4>Implementation Summary</h4>
		<p>&lt;&lt;Program specification goes here&gt;&gt;.</p>
	</div>
	<div id="tasks">
		<h4>Implementation Tasks</h4>
		<table class="bordered">
			<thead>
				<th width="127px">Task</td>
				<th>Member Name</td>
				<th>MEMBER Promotion List</td>
				<th>MO Release</td>
				<th>Prod Release</td>
			</thead>
			<tr>
				<td width="127px">File promotions/gdg builds</td>
				<td></td>
				<td><pre>clmsub92.sc        1.85</pre></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td width="127px">Module promotions</td>
				<td></td>
				<td><pre>libclmub92.so      1.160</pre></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td width="127px">Autosys updates</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td width="127px">Components to be deleted</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
		</table>
	</div>
	<div id="updates">
		<h4>Database Updates</h4>
		<table class="bordered" width="683">
			<thead>
				<th>Object</td>
				<th width="200px">Name</td>
				<th width="400px">Current Location</td>
			</thead>
			<tr>
				<td>Table Modification</td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td>XML/XSD</td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td>Database Updates</td>
				<td></td>
				<td></td>
			</tr>
		</table>
	</div>
</div>
</body>
</html>