{% extends "base.htm" %}

{% block body %}
	<div id="code_header">
		<p><strong>ASSUMPTIONS &ndash; </strong>{{ p.assumptions }}</p>
		<p><strong>PROGRAM SPECIFICATIONS &ndash; </strong>{{ p.program_specs_intro }}</p>
	</div>
	<p><strong>Design:</strong></p>
	{% for m in p.modules %}
	<div class="code_module">
		<table class="code_info_table">
			<tr>
				<th class="col_head"><p>Module Name:</p></td>
				<td><p>{{ m.name }}</p></td>
			</tr>
			<tr>
				<th class="col_head"><p>Module Purpose:</p></td>
				<td><p>{{ m.purpose }}</p></td>
			</tr>
			<tr>
				<th class="col_head"><p>Prerequisites:</p></td>
				<td><p>{{ m.prerequisites }}</p></td>
			</tr>
			<tr>
				<th class="col_head"><p>Input Data:</p></td>
				<td><p>{{ m.input }}</p></td>
			</tr>
			<tr>
				<th class="col_head"><p>Output Data:</p></td>
				<td><p>{{ m.output }}</p></td>
			</tr>
			<tr>
				<th class="col_head"><p>System Parms:</p></td>
				<td><p>{{ m.system_parms }}</p></td>
			</tr>
		</table>
		<pre>Lines changed in <span class="red">Red</span>
Lines added are in <span class="light-blue">Blue</span></pre>
		<p>{{ m.function }}</p>
		<p>{{ m.description }}</p>
	</div>
	{% endfor %}
{% endblock %}