{% extends "base.htm" %}
{% block body %}
	<div id="approach">
		<h3>Test Approach:</h3>
		<p>{{ p.approach }}</p>
	</div>
	<div id="summary">
		<h3>Test Case Summary:</h3>
		<table class="bordered" width="682">
			<thead>
				<th width="61">Test Group Number</td>
				<th width="101">Requirement Number</td>
				<th>Test Group Title</td>
				<th>Test Group Description</td>
			</thead>
			{% for line in p.summary %}
			<tr>
				<th class="centered">{{ line.number }}</td>
				<td>{{ line.requirement }}</td>
				<td>{{ line.title }}</td>
				<td>{{ line.description }}</td>
			</tr>
			{% endfor %}
		</table>
	</div>
	<div class="tests">
		<ol>
			{% for line in p.summary %}
			<li>Original Defect Claim</li>
			<table class="bordered">
				<thead class="centered">
					<th width="80">Test Case Number</td>
					<th width="138">Test Condition</td>
					<th>Input Data</td>
					<th>Expected Results</td>
					<th>Actual Results</td>
				</thead>
				{% for d in line.details %}
				<tr>
					<th class="col_number">{{ d.number }}</td>
					<td>{{ d.condition }}</td>
					<td>{{ d.input }}</td>
					<td>{{ d.expected }}</td>
					<td>{{ d.actual }}</td>
				</tr>
				{% endfor %}
			</table>
			{% endfor %}
		</ol>
	</div>
{% endblock %}